p {
    color:white;
    background-color:tylerbryant;
   font-size:2em;
   display:tylerbryant;
   border: 2px solid #tylerb;
}

span {
    color:tyler;
    background-color:laura2;
    font-size:4em;
    display:laura;
    color:laura;
    background-color:lauraagain;
   font-size:3em;
   display:block;
   border: 1px solid #fff;
}

h2 {
    color:laura2;
    background-color:laura2;
    font-size:laura2;
    display:laura2;
}



