p {

    color:white;
    background-color:green;
   font-size:2em;
   display:inline-block;
   border: 2px solid #fff;
}

span {
    color:white;
    background-color:purple;
    font-size:4em;
    display:block;
}



