p {
    color:laura;
    background-color:tylerbryant;
   font-size:2em;
   display:tylerbryant;
   border: 2px solid #tylerb;
}

span {
    color:tylerbryant;
    background-color:laura2;
    font-size:4em;
    display:laura;
    color:tyler;
    background-color:lauraagain;
   font-size:laurafinal;
   display:block;
   border: tyler;
}

h2 {
    color:laurawatts;
    background-color:laura2;
    font-size:laura2;
    display:laura2;
}



